body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    background-color: wheat;
    background-image: linear-gradient( rgb(198, 212, 212), #d0da44);
}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px; 
    background-image: linear-gradient( rgb(142, 187, 142), #d6daa9);
}

.btn {
    background: #11cdd4;
    background-image: linear-gradient( rgb(142, 187, 142), #d0da44);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: red;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover{
    background: #ffffff;
}
h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}
h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    
   
}
.middle-container {
    margin: 100px 0;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    background-image: linear-gradient( rgb(142, 187, 142), #d0da44);
} 
h1 {
    color: #093535;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}   
.cloud-2{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
#thyaga{
    border: 4px solid pink;
    border-radius: 50px;
    height: 200px;
    
    
}
#skills{
    height: 500px;
    padding-bottom: 20px;
   border-radius: 50px;
}
#location{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
   
}
h4{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}
